<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iug.jerusalem_city">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JerusalemCity"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.add_topic.AddTopicActivity"></activity>
        <activity android:name=".ui.last_news.LastNewsActivity" />
        <activity android:name=".ui.touristic_monuments.TouristicMonumentsActivity" />
        <activity android:name=".ui.city_climate.CityClimateActivity" />
        <activity android:name=".ui.topic_details.TopicDetailsActivity" />
        <activity android:name=".ui.city_history.CityHistoryActivity" />
        <activity
            android:name=".ui.play_video.PlayVideoActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity android:name=".ui.city_information.CityInformationActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.settings.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>